<mat-form-field>
  <mat-label>
    Airplane
  </mat-label>

  <mat-select (valueChange)="airplaneSelected($event)">
    <mat-option [value]="">None</mat-option>
    @for (airplane of airplanes; track airplane) {
      <mat-option [value]="airplane.Tail">{{airplane.Tail}} - {{airplane.Date}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<mat-grid-list cols="4" rowHeight="50px" gutterSize="10px">
  <mat-grid-tile>Item</mat-grid-tile>
  <mat-grid-tile>Weight (Lbs)</mat-grid-tile>
  <mat-grid-tile>Arm Aft Datum(In)</mat-grid-tile>
  <mat-grid-tile>Moment(In-Lbs)</mat-grid-tile>

  <mat-grid-tile>Basic Empty Weight</mat-grid-tile>
  <mat-grid-tile>{{airplane.Weight}}</mat-grid-tile>
  <mat-grid-tile>{{airplane.Arm}}</mat-grid-tile>
  <mat-grid-tile>{{airplane.Moment}}</mat-grid-tile>

  <mat-grid-tile>Front Seat Occupants</mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <input matInput type="number"  [value]="frontSeatWB.Weight" (change)="updateWB($event, 'frontSeatWB')">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>{{frontSeatWB.Arm}}</mat-grid-tile>
  <mat-grid-tile>{{frontSeatWB.Moment}}</mat-grid-tile>

  <mat-grid-tile>Rear Seat Occupant</mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <input matInput type="number" [value]="rearSeatWB.Weight" (change)="updateWB($event, 'rearSeatWB')">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>{{rearSeatWB.Arm}}</mat-grid-tile>
  <mat-grid-tile>{{rearSeatWB.Moment}}</mat-grid-tile>

  <mat-grid-tile>Fuel (48gal Max)</mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <input matInput type="number" name="fuelWB" [value]="fuelWB.Weight" (change)="updateWB($event, 'fuelWB')">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>{{fuelWB.Arm}}</mat-grid-tile>
  <mat-grid-tile>{{fuelWB.Moment}}</mat-grid-tile>

  <mat-grid-tile>Ramp Weight</mat-grid-tile>
  <mat-grid-tile>{{rampWeightWB.Weight}}</mat-grid-tile>
  <mat-grid-tile>{{rampWeightWB.Arm}}</mat-grid-tile>
  <mat-grid-tile>{{rampWeightWB.Moment}}</mat-grid-tile>

  <mat-grid-tile>Fuel Allowance</mat-grid-tile>
  <mat-grid-tile>{{fuelAllowanceWB.Weight}}</mat-grid-tile>
  <mat-grid-tile>{{fuelAllowanceWB.Arm}}</mat-grid-tile>
  <mat-grid-tile>{{fuelAllowanceWB.Moment}}</mat-grid-tile>

  <mat-grid-tile>Takeoff Weight</mat-grid-tile>
  <mat-grid-tile>{{takeoffWB.Weight}}</mat-grid-tile>
  <mat-grid-tile>{{takeoffWB.Arm}}</mat-grid-tile>
  <mat-grid-tile>{{takeoffWB.Moment}}</mat-grid-tile>

  <mat-grid-tile>Fuel Burn</mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <input matInput type="number" max="0" [value]="fuelBurnWB.Weight" (change)="updateWB($event, 'fuelBurnWB')">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>{{fuelBurnWB.Arm}}</mat-grid-tile>
  <mat-grid-tile>{{fuelBurnWB.Moment}}</mat-grid-tile>

  <mat-grid-tile>Landing Weight</mat-grid-tile>
  <mat-grid-tile>{{landingWB.Weight}}</mat-grid-tile>
  <mat-grid-tile>{{landingWB.Arm}}</mat-grid-tile>
  <mat-grid-tile>{{landingWB.Moment}}</mat-grid-tile>

</mat-grid-list>

<router-outlet></router-outlet>
